.box {
  background-color: #ccc;
  border: 1px solid #999;
  padding: 30px;
}

.box--small {
  width: 100px;
  height: 100px;
}

.box--medium {
  width: 200px;
  height: 200px;
}

.box--large {
  width: 300px;
  height: 300px;
}

.text {
  font-size: 3rem;
}

.text--small {
  font-size: 1rem;
}

.text--medium {
  font-size: 3rem;
}

.text--large {
  font-size: 5rem;
}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.button--blue {
  background-color: blue;
}

.button--green {
  background-color: green;
}

.button--red {
  background-color: red;
}
